
html{
    scroll-behavior: smooth;
    scroll-padding-top: 300px;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing:border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    min-height: 100vh;
    max-width: 100dvw;
    height: auto;
    overflow-x: hidden;
    display: flex;
    min-height: 100vh;  
    flex-direction: column;
}
#categories-section{

    min-height: 100vh;
    padding: 4rem 0rem;
    border-bottom: 1px solid gray;
}
#section-products{


display: grid;
justify-content: center;
grid-template-columns: repeat(3,minmax(250px,.25fr));
gap: 80px 30px;
padding:1rem ;
  background-color:rgb(255, 255, 255);
  
}
#section-product-box{
    height: 25rem;

    background-color: rgb(98, 125, 175);
 
    color: white;
    

}
#section-product-img-box{

    background-color: rgb(219, 234, 247);
   display: flex;
   align-items: flex-end;
   justify-content: center;
   
  
height:17rem;
box-shadow: 0 5px 4px -2px  rgb(37, 34, 34);
/* box-shadow:   0 3px 5px rgb(0, 0, 0); */
}
#section-product-img-box img{
    height: inherit;
}

#cart-btn {
    height: 1.7rem;
    width: 1.7rem;
    
    background-color: rgb(224, 235, 235);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
position: relative;
}

#cart-btn img {
    width: 100%; 
    height: auto;
    max-height: 100%; 
    object-fit: contain; 
}
.outer-cart-box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    margin-inline: auto;
    margin-top: .8rem;
}
.fa-solid{
    font-size: .7rem;
}
.fa-star{
    color: orange;
}
.row-two{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#section-product-info-box {
    padding: 1rem;
}
#section-product-info-box #product-name{
    margin-bottom: .5rem;


}
.section-title{
    
   
 
}
.section-title-holder{
    background-color: rgb(201, 255, 237);
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 1rem;
}

@media only screen and (max-width:950px){
    #section-products{
    
        grid-template-columns: repeat(auto-fit,minmax(250px,.25fr));
        
        }
    
}

@media only screen and (max-width:570px){
    #section-products{

        display: block;

        }

        #section-product-box{
            height: 25rem;
            width:90%;
            margin-inline:auto;
            margin-block: 2rem;
            margin-bottom: 3rem;
        }
}

/* @media only screen and (max-width:305px){
    #section-product-box{
        height: 17rem;
    }
    #section-product-img-box{

    height:9rem;

    }
    #section-products{

      grid-template-columns: repeat(auto-fit,minmax(160px,1fr));
     
      gap: 50px 10px;
  
      
      }

} */